.container {
  max-width: 960px;
}

.top-banner {
  height: 100vh;
  min-height: 500px;
  background-image: url(../content/Big\ images/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.in-between-banner {
  height: 30vh;
  min-height: 300px;
  background-image: url(../content/Big\ images/banner2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*
 * Custom translucent site header
 */

#nav-opacity {
  opacity: 0.8;
}

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

/*
 * Custom CSS
 */

.call-1 {
  background-color: #5e9682;
  padding: 20px;
  margin: 20px;
}

.bg-green {
  background-color: #5e9682;
}

.call-3 {
  background-color: #5e9682;
}

.call-1 p {
  margin: 25px 0px 25px 0px;
  font-weight: lighter;
}

.call-1 button {
  padding: 10px 40px 10px 40px;
}

.line-height-30 {
  line-height: 30px;
}

.link-color a {
  color: #5b5a68;
  margin: auto;
  width: 50%;
  justify-content: center;
  text-align: center;
}

.navbar-brand img {
  max-height: 28px;
  max-width: auto;
}

.hide-nav {
  display: none;
}

.show-nav {
  display: block;
}

.icon {
  display: none;
}

.main-logo img {
  max-width: 800px;
  height: auto;
  position: relative;
}

.creatievekok {
  color: black;
  border-color: #FD9CBD;
  position: relative;
}

.creatievekok:hover {
  background-color: #FD9CBD;
  border-color: transparent;
}

.project img {
  width: auto;
  max-height: 700px;
  padding-bottom: 15px;
}

.contact {
  width: 50%;
  margin: 0 auto;
}

.contact ul {
  all: unset;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
}

.contact li {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.contact li img {
  max-width: 75%;
  height: auto;
}

/* Hi sat, alles wat binnen de '@media' query staat, geldt alleen voor schermpjes kleiner dan 767px */
@media only screen and (max-width: 767px) {
    .main-logo img {
      position: relative;
      bottom: 45px;
      max-widtht: 60px;
    }

    .contact-sat {
      background-color: white;
      width: 100%;
      max-height: 300px;
      position: relative;
      margin-top: -250px;
      text-align: center;
      overflow: hidden;
    }

    .creatievekok {
      bottom: -60px;
    }

    .icon {
      display: inline-block;
    }

    

}
